<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Address>
    <add mainAddr="004" room="1" value="1" />
    <add mainAddr="005" room="2" value="2" />
    <add mainAddr="006" room="3" value="3" />
    <add mainAddr="007" room="4" value="4" />
    <add mainAddr="008" room="5" value="5" />
    <add mainAddr="009" room="6" value="6" />
    <add mainAddr="010" room="7" value="7" />
    <add mainAddr="011" room="8" value="8" />
    <add mainAddr="012" room="9" value="9" />
    <add mainAddr="013" room="10" value="10" />
    <add mainAddr="014" room="11" value="11" />
    <add mainAddr="015" room="12" value="12" />
    <add mainAddr="016" room="13" value="13" />
    <add mainAddr="017" room="14" value="14" />
    <add mainAddr="018" room="15" value="15" />
    <add mainAddr="019" room="16" value="16" />
    <add mainAddr="020" room="17" value="17" />
    <add mainAddr="021" room="18" value="18" />
    <add mainAddr="022" room="19" value="19" />
    <add mainAddr="023" room="20" value="20" />
    <add mainAddr="024" room="21" value="21" />
    <add mainAddr="025" room="22" value="22" />
    <add mainAddr="026" room="23" value="23" />
    <add mainAddr="027" room="24" value="24" />
    <add mainAddr="028" room="25" value="25" />
    <add mainAddr="029" room="26" value="26" />
    <add mainAddr="030" room="27" value="27" />
    <add mainAddr="031" room="28" value="28" />
    <add mainAddr="032" room="29" value="29" />
    <add mainAddr="033" room="30" value="30" />
    <add mainAddr="034" room="31" value="31" />
    <add mainAddr="035" room="32" value="32" />
    <add mainAddr="036" room="33" value="33" />
    <add mainAddr="037" room="34" value="34" />
    <add mainAddr="038" room="35" value="35" />
    <add mainAddr="039" room="36" value="36" />
    <add mainAddr="040" room="37" value="37" />
    <add mainAddr="041" room="38" value="38" />
    <add mainAddr="042" room="39" value="39" />
    <add mainAddr="043" room="40" value="40" />
    <add mainAddr="044" room="41" value="41" />
    <add mainAddr="045" room="42" value="42" />
    <add mainAddr="046" room="43" value="43" />
    <add mainAddr="047" room="44" value="44" />
    <add mainAddr="048" room="45" value="45" />
    <add mainAddr="049" room="46" value="46" />
    <add mainAddr="050" room="47" value="47" />
    <add mainAddr="051" room="48" value="48" />
    <add mainAddr="052" room="49" value="49" />
    <add mainAddr="053" room="50" value="50" />
    <add mainAddr="054" room="51" value="51" />
    <add mainAddr="055" room="52" value="52" />
    <add mainAddr="056" room="53" value="53" />
    <add mainAddr="057" room="54" value="54" />
    <add mainAddr="058" room="55" value="55" />
    <add mainAddr="099" room="56" value="56" />
    <add mainAddr="100" room="57" value="57" />
    <add mainAddr="101" room="58" value="58" />
    <add mainAddr="102" room="59" value="59" />
    <add mainAddr="103" room="60" value="60" />
    <add mainAddr="104" room="61" value="61" />
    <add mainAddr="105" room="62" value="62" />
    <add mainAddr="106" room="63" value="63" />
    <add mainAddr="107" room="64" value="64" />
    <add mainAddr="108" room="65" value="65" />
    <add mainAddr="109" room="66" value="66" />
    <add mainAddr="110" room="67" value="67" />
    <add mainAddr="111" room="68" value="68" />
    <add mainAddr="112" room="69" value="69" />
    <add mainAddr="113" room="70" value="70" />
    <add mainAddr="114" room="71" value="71" />
    <add mainAddr="115" room="72" value="72" />
    <add mainAddr="116" room="73" value="73" />
    <add mainAddr="117" room="74" value="74" />
    <add mainAddr="118" room="75" value="75" />
    <add mainAddr="119" room="76" value="76" />
    <add mainAddr="120" room="77" value="77" />
    <add mainAddr="121" room="78" value="78" />
    <add mainAddr="122" room="79" value="79" />
    <add mainAddr="123" room="80" value="80" />
    <add mainAddr="124" room="81" value="81" />
    <add mainAddr="125" room="82" value="82" />
    <add mainAddr="126" room="83" value="83" />
    <add mainAddr="127" room="84" value="84" />
    <add mainAddr="128" room="85" value="85" />
    <add mainAddr="129" room="86" value="86" />
    <add mainAddr="130" room="87" value="87" />
    <add mainAddr="131" room="88" value="88" />
    <add mainAddr="132" room="89" value="89" />
    <add mainAddr="133" room="90" value="90" />
    <add mainAddr="134" room="91" value="91" />
    <add mainAddr="135" room="92" value="92" />
    <add mainAddr="136" room="93" value="93" />
    <add mainAddr="137" room="94" value="94" />
    <add mainAddr="138" room="95" value="95" />
    <add mainAddr="139" room="96" value="96" />
    <add mainAddr="140" room="97" value="97" />
    <add mainAddr="141" room="98" value="98" />
    <add mainAddr="142" room="99" value="99" />
    <add mainAddr="143" room="100" value="100" />
    <add mainAddr="144" room="101" value="101" />
    <add mainAddr="145" room="102" value="102" />
    <add mainAddr="146" room="103" value="103" />
    <add mainAddr="147" room="104" value="104" />
    <add mainAddr="148" room="105" value="105" />
    <add mainAddr="149" room="106" value="106" />
    <add mainAddr="150" room="107" value="107" />
    <add mainAddr="151" room="108" value="108" />
    <add mainAddr="152" room="109" value="109" />
    <add mainAddr="153" room="110" value="110" />
  </Address>
</configuration>