<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Room>
    <add room="1" middleAddr="60108" />
    <add room="2" middleAddr="70108" />
    <add room="3" middleAddr="80108" />
    <add room="4" middleAddr="90108" />
    <add room="5" middleAddr="100108" />
    <add room="6" middleAddr="110108" />
    <add room="7" middleAddr="120108" />
    <add room="8" middleAddr="130108" />
    <add room="9" middleAddr="140108" />
    <add room="10" middleAddr="150108" />
    <add room="11" middleAddr="160108" />
    <add room="12" middleAddr="170108" />
    <add room="13" middleAddr="180108" />
    <add room="14" middleAddr="190108" />
    <add room="15" middleAddr="200108" />
    <add room="16" middleAddr="210108" />
    <add room="17" middleAddr="220108" />
    <add room="18" middleAddr="230108" />
    <add room="19" middleAddr="240108" />
    <add room="20" middleAddr="250108" />
    <add room="21" middleAddr="260108" />
    <add room="22" middleAddr="270108" />
    <add room="23" middleAddr="280108" />
    <add room="24" middleAddr="290108" />
    <add room="25" middleAddr="300108" />
    <add room="26" middleAddr="310108" />
    <add room="27" middleAddr="320108" />
    <add room="28" middleAddr="330108" />
    <add room="29" middleAddr="340108" />
    <add room="30" middleAddr="350108" />
    <add room="31" middleAddr="360108" />
    <add room="32" middleAddr="370108" />
    <add room="33" middleAddr="380108" />
    <add room="34" middleAddr="390108" />
    <add room="35" middleAddr="400108" />
    <add room="36" middleAddr="410108" />
    <add room="37" middleAddr="420108" />
    <add room="38" middleAddr="430108" />
    <add room="39" middleAddr="440108" />
    <add room="40" middleAddr="450108" />
    <add room="41" middleAddr="460108" />
    <add room="42" middleAddr="470108" />
    <add room="43" middleAddr="480108" />
    <add room="44" middleAddr="490108" />
    <add room="45" middleAddr="500108" />
    <add room="46" middleAddr="510108" />
    <add room="47" middleAddr="520108" />
    <add room="48" middleAddr="530108" />
    <add room="49" middleAddr="540108" />
    <add room="50" middleAddr="550108" />
    <add room="51" middleAddr="560108" />
    <add room="52" middleAddr="570108" />
    <add room="53" middleAddr="580108" />
    <add room="54" middleAddr="590108" />
    <add room="55" middleAddr="600108" />
    <add room="56" middleAddr="710108" />
    <add room="57" middleAddr="720108" />
    <add room="58" middleAddr="730108" />
    <add room="59" middleAddr="740108" />
    <add room="60" middleAddr="750108" />
    <add room="61" middleAddr="760108" />
    <add room="62" middleAddr="770108" />
    <add room="63" middleAddr="780108" />
    <add room="64" middleAddr="790108" />
    <add room="65" middleAddr="800108" />
    <add room="66" middleAddr="810108" />
    <add room="67" middleAddr="820108" />
    <add room="68" middleAddr="830108" />
    <add room="69" middleAddr="840108" />
    <add room="70" middleAddr="850108" />
    <add room="71" middleAddr="860108" />
    <add room="72" middleAddr="870108" />
    <add room="73" middleAddr="880108" />
    <add room="74" middleAddr="890108" />
    <add room="75" middleAddr="900108" />
    <add room="76" middleAddr="910108" />
    <add room="77" middleAddr="920108" />
    <add room="78" middleAddr="930108" />
    <add room="79" middleAddr="940108" />
    <add room="80" middleAddr="950108" />
    <add room="81" middleAddr="960108" />
    <add room="82" middleAddr="970108" />
    <add room="83" middleAddr="980108" />
    <add room="84" middleAddr="990108" />
    <add room="85" middleAddr="1000108" />
    <add room="86" middleAddr="1010108" />
    <add room="87" middleAddr="1020108" />
    <add room="88" middleAddr="1030108" />
    <add room="89" middleAddr="1040108" />
    <add room="90" middleAddr="1050108" />
    <add room="91" middleAddr="1060108" />
    <add room="92" middleAddr="1070108" />
    <add room="93" middleAddr="1080108" />
    <add room="94" middleAddr="1090108" />
    <add room="95" middleAddr="1100108" />
    <add room="96" middleAddr="1110108" />
    <add room="97" middleAddr="1120108" />
    <add room="98" middleAddr="1130108" />
    <add room="99" middleAddr="1140108" />
    <add room="100" middleAddr="1150108" />
    <add room="101" middleAddr="1160108" />
    <add room="102" middleAddr="1170108" />
    <add room="103" middleAddr="1180108" />
    <add room="104" middleAddr="1190108" />
    <add room="105" middleAddr="1200108" />
    <add room="106" middleAddr="1210108" />
    <add room="107" middleAddr="1220108" />
    <add room="108" middleAddr="1230108" />
    <add room="109" middleAddr="1240108" />
    <add room="110" middleAddr="1250108" />
  </Room>
</configuration>